nav, ul, li {
    display: inline;
}

.top {
    position: absolute;
    left: 150px;
    top: 30px;
}

a {
    text-decoration: none;
    margin: 0 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.bottom {
    display: block;
    margin: 30px 0;
}

.bottom a {
    color: #000;
}

.bottom li img {
    filter: invert(100%);
}

@media (max-width:950px) {
    nav, ul, li {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    a {
        border: 1px solid white;
        padding: 10px;
    }

    .top {
        position:absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 40px;
        font-weight: bold;
    }

    li img {
        display: none;
    }
}
